name: CI

on:
  workflow_dispatch:

  push:

jobs:

  ci:
    env:
      CONFIGURATION: Release

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          include-prerelease: true
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration ${CONFIGURATION} --no-restore
      - name: Test
        run: dotnet test --configuration ${CONFIGURATION} --no-build --verbosity normal
      - name: Pack
        run: dotnet pack --configuration ${CONFIGURATION} --no-build
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: nupkg
          path: ./src/NauticalCharts/bin/${CONFIGURATION}/*.nupkg